<div>
  <div class="pb-0 mt-0 mb-4 border-bottom">
    <h3>
      Package Details
      <router-link to="/packages" class="btn btn-link float-sm-right"><i class="fas fa-trash"></i> Delete</router-link>
      <router-link to="/packages" class="btn btn-link float-sm-right"><i class="fas fa-caret-left"></i> Back to Packages</router-link>
    </h3>
  </div>

  <table class="table">
    <thead class="thead-light">
      <tr>
        <th>UID</th><th>Version</th><th>Supported Hardware</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ pkg.uid }}</td>
        <td>{{ pkg.version }}</td>
        <td>{{ pkg.supported_hardware.join(', ') }}</td>
      </tr>
    </tbody>
  </table>

  <div class="card-group">
    <div class="card card-body bg-light">
      <strong class="card-title">Objects</strong>
      
      <table class="table table-hover">
        <thead>
          <tr><th>Name</th><th>Checksum</th><th>Size</th></tr>
        </thead>
        <tbody>
          <tr v-for="(object, i) in pkg.metadata.objects[0]" @click="selectedObject = i" style="cursor:pointer">
            <td><span>{{ object.filename }}</span></td>
            <td>1234...</td>
            <td>{{ object.size }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="card bg-light" v-if="selectedObject >= 0">
      <div class="card-header bg-light">
        <ul class="nav nav-tabs card-header-tabs nav-fill">
          <li v-for="i in [0, 1]" class="nav-item">
            <a style="cursor:pointer" class="nav-link" v-bind:class="currentInstallSet == i ? 'active bg-light' : ''" @click="currentInstallSet = i">Installation Set #{{ i }}</a>
          </li>
        </ul>
      </div>
      <div class="card-body">
        <ul class="list-group list-group-flush">
          <li class="list-group-item bg-light">
            <span>Mode</span><br/>
            <code>{{ pkg.metadata.objects[currentInstallSet][selectedObject].mode }}</code>
          </li>
          <li class="list-group-item bg-light">
            <span>Target</span><br/>
            <code>{{ pkg.metadata.objects[currentInstallSet][selectedObject].target }}</code>
          </li>
          <li class="list-group-item bg-light">
            <span>Target Path</span><br/>
            <code>{{ pkg.metadata.objects[currentInstallSet][selectedObject]['target-path'] }}</code>
          </li>
          <li class="list-group-item bg-light">
            <span>Target Type</span><br/>
            <code>{{ pkg.metadata.objects[currentInstallSet][selectedObject]['target-type'] }}</code>
          </li>
          <li class="list-group-item bg-light">
            <span>Filesystem</span><br/>
            <code>{{ pkg.metadata.objects[currentInstallSet][selectedObject].filesystem }}</code>
          </li>
          <li class="list-group-item bg-light">
            <span>Format Device</span><br/>
            <code>{{ pkg.metadata.objects[currentInstallSet][selectedObject]['format?'] }}</code>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
