<div>
  <div class="pb-0 mt-0 mb-4 border-bottom">
    <h3>
      Rollout Details
      <router-link to="/packages" class="btn btn-link float-sm-right" v-if="rollout.running"><i class="fas fa-pause"></i> Pause</router-link>
      <router-link to="/packages" class="btn btn-link float-sm-right" v-if="!rollout.running"><i class="fas fa-play"></i> Play</router-link>
      <router-link to="/rollouts" class="btn btn-link float-sm-right"><i class="fas fa-caret-left"></i> Back to Rollout List</router-link>
    </h3>
  </div>
  <div class="card-group" v-if="rollout.package.uid">
    <div class="card card-body bg-light">
      <ul class="list-group list-group-flush">
        <li class="list-group-item bg-light">
          <span>Version</span><br/>
          {{ rollout.package.version }}
        </li>
        <li class="list-group-item bg-light">
          <span>Number of Devices</span><br/>
          {{ rollout.devices.length }}
        </li>
        <li class="list-group-item bg-light">
          <span>Package</span><br/>
          <router-link :to="`/packages/${rollout.package.uid}`">{{ rollout.package.uid.substring(0, 6) }}...</router-link>
        </li>
      </ul>  
    </div>

    <div class="card card-body bg-light">
      <ul class="list-group list-group-flush">
        <li class="list-group-item bg-light">
          <span>Started At</span><br/>
          {{ rollout.started_at | humanizedDate }}
        </li>
        <li class="list-group-item bg-light">
          <span>Finished At</span><br/>
          {{ rollout.started_at > rollout.finished_at ? '-' : rollout.finished_at | humanizedDate }}
        </li>
      </ul>  
    </div>


    <div class="card card-body bg-light col-md-3a">
      <span class="card-title text-center text-capitalize"><strong>Status</strong>: {{ rollout.status }}</span>
      <ul class="list-group list-group-flush">
        <li class="list-group-item bg-light">
          <span><i class="fas fa-question-circle text-secondary"></i> {{ rollout.statistics.pending }} Pending</span><br/>
        </li>
        
        <li class="list-group-item bg-light">
          <span><i class="fas fa-cog text-primary" :class="{ 'fa-spin': rollout.statistics.updating > 0 }"></i> {{ rollout.statistics.updating }} Updating</span><br/>
        </li>
        
        <li class="list-group-item bg-light">
          <span><i class="fas fa-check-circle text-success"></i> {{ rollout.statistics.updated }} Updated</span><br/>
        </li>
        <li class="list-group-item bg-light">
          <span><i class="fas fa-exclamation-circle text-danger"></i> {{ rollout.statistics.failed }} Failed</span><br/>
        </li>
      </ul>  
    </div>
  </div>
 
</div>
