<div>
  <div class="pb-0 mt-0 mb-4 border-bottom">
    <h3>
      Create Rollout
      <router-link to="/rollouts" class="btn btn-link float-sm-right"><i class="fas fa-caret-left"></i> Back to Rollouts</router-link>
    </h3>
  </div>


  <div class="card card-body bg-light">
    <form>
      <div class="form-group">
        <label>Package Version</label>
        <select class="form-control" @change="selectAllDevices" v-model="selectedPackage">
          <option disabled selected>Choose Version</option>
          <option v-for="pkg in packages" v-bind:value="pkg">
            {{ pkg.version }}
          </option>
        </select>
        <small>This is the version you will have when this rollout be completed.</small>
      </div>
    </form>

    <template v-if="selectedPackage">
      <small class="text-right">
        <strong>{{ selectedDevices.length }}</strong> of
        <strong>{{ devices.length }}</strong> devices will be updated to <strong>{{ selectedPackage.version }}</strong></small>
      <table class="table table-hover">
        <thead class="thead-light">
          <tr><th></th><th>UID</th><th>Version</th><th>Hardware</th></tr>
        </thead>
        <tbody>
          <template v-for="device in compatibleDevices()">
            <tr style="cursor:pointer" @click="toggleOpened(device.uid)">
              <td><input type="checkbox" value="" checked @click.stop="toggleDeviceSelection(device.uid)"></td>
              <td><span>{{ device.uid }}</span></td>
              <td><span>{{ device.version }}</span></td>
              <td><span>{{ device.hardware }}</span></td>
            </tr>
            <tr v-if="opened == device.uid">
              <td colspan=4>
                <DeviceView :uid="device.uid" embedded="true"></DeviceView>
              </td>
            </tr>
          </template>
        </tbody>
      </table>

      <div>
        <button class="btn btn-primary float-sm-right ml-1" @click="save(true)" :disabled="selectedDevices.length == 0">Save and Start</button>
        <button class="btn btn-outline-primary float-sm-right" @click="save(false)" :disabled="selectedDevices.length == 0">Save</button>
        <button class="btn btn-default float-sm-left" @click="refresh">Refresh</button>
      </div>
    </template>
  </div>
</div>
